html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif !important;
  background-color: var(--base-color) !important;
}

/*resets*/
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

/*fontface*/
@font-face {
  font-family: Impact;
  src: url(../fonts/impact.ttf);
}
hr {
  overflow: hidden;
  display: block;
  max-width: 1400px !important;
  width: 100%;
  height: 2px;
  margin: auto !important;
  border: 0;
  border-top: 1px solid var(--base-text-color);
  padding: 0;
}

nav {
  padding: 5px 20px;
  background-color: var(--base-color);
  top: 0px;
  min-width: 100%;
  position: absolute;
}

ul {
  list-style-type: none;
}
ul a {
  text-decoration: none;
  color: var(--base-text-color);
}
ul a:hover {
  text-decoration: none;
  color: var(--darkest-text-color);
}

.navbar {
  margin-bottom: 0;
  max-width: 1400px;
  margin-inline: auto;
}
.navbar li {
  font-size: 17px;
  padding: 15px 5px;
}
.navbar li a {
  display: block;
}
.navbar li a:hover {
  color: var(--darkest-text-color);
}
.navbar img {
  width: 50px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.logo a {
  font-family: Impact;
  letter-spacing: 2px;
  font-size: 25px;
  color: var(--base-text-color);
}

.button {
  border: 0;
}
.button a {
  color: var(--darkest-text-color);
}

/*mobile*/
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
  position: relative;
}

.toggle {
  order: 1;
}

.item.button {
  order: 2;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.item.active {
  display: block;
}

.logo {
  margin-right: auto;
}

.toggle {
  cursor: pointer;
}

.bars {
  background: var(--base-text-color);
  display: inline-block;
  height: 2px;
  width: 18px;
  position: relative;
  display: flex;
}

.bars::before, .bars::after {
  content: "";
  background: var(--base-text-color);
  display: inline-block;
  height: 2px;
  width: 18px;
  position: absolute;
}

.bars::before {
  top: 5px;
}

.bars::after {
  top: -5px;
}

/* tablet navbar*/
@media screen and (min-width: 600px) {
  .navbar {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    order: 2;
  }
}
@media screen and (min-width: 900px) {
  .navbar li {
    padding: 5px 15px;
    border-right: 2px solid var(--base-text-color);
  }
  .item {
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
  .logo {
    order: 1;
  }
  .item {
    order: 1;
  }
  .button {
    order: 2;
  }
}
header {
  max-width: 1400px;
  background-color: var(--base-color);
  margin-inline: auto;
}

/*mobile*/
.main1flexcontainer {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  background-color: var(--base-color);
}
.main1flexcontainer .main1flexitemimage {
  margin-bottom: 20px;
}
.main1flexcontainer .main1flexitemtext {
  margin-inline: auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.main1flexcontainer .main1flexitemtext h1 {
  font-size: 150px;
  font-family: Impact;
  letter-spacing: 2px;
  margin-top: 60px;
  color: var(--darkest-text-color);
  text-align: center;
}
.main1flexcontainer .main1flexitemtext p {
  font-size: 18px;
  margin-bottom: 15px;
  padding-inline: 10%;
}
.main1flexcontainer .main1flexitemtext a {
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: var(--secondary-base-color);
}
.main1flexcontainer .main1flexitemimage {
  text-align: center;
  width: 100%;
}
.main1flexcontainer .main1flexitemimage img {
  max-width: 340px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  pointer-events: none;
}

/*tablet*/
@media screen and (min-width: 700px) {
  .main1flexcontainer .main1flexitemtext {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .main1flexcontainer .main1flexitemtext h1 {
    margin-top: 80px;
    font-size: 180px;
    color: var(--darkest-text-color);
    text-align: center;
  }
  .main1flexcontainer .main1flexitemtext p {
    font-size: 20px;
    padding-left: 20%;
    padding-right: 20%;
  }
  .main1flexcontainer .main1flexitemimage img {
    max-width: 400px;
  }
}
/*desktop*/
@media screen and (min-width: 900px) {
  .main1flexcontainer {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    padding-inline: 10px;
  }
  .main1flexcontainer .main1flexitemtext {
    margin-top: 50px;
    margin-inline: auto;
    text-align: left;
    width: 50%;
  }
  .main1flexcontainer .main1flexitemtext h1 {
    padding-top: 20px;
    font-size: 220px;
    color: var(--darkest-text-color);
    text-align: left;
    padding-left: 20px;
  }
  .main1flexcontainer .main1flexitemtext p {
    padding-left: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .main1flexcontainer .main1flexitemtext a {
    font-size: 18px;
    padding-left: 20px;
    margin-left: 10px;
    margin-top: 30px;
    color: var(--secondary-base-color);
  }
  .main1flexcontainer .main1flexitemimage {
    width: 50%;
  }
  .main1flexcontainer .main1flexitemimage img {
    max-width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
/*larger desktop screen*/
@media screen and (min-width: 1100px) {
  .main1flexcontainer {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    margin-inline: auto;
  }
  .main1flexcontainer .main1flexitemtext {
    width: 50%;
    padding-top: 10px;
    margin-inline: auto;
    text-align: left;
    padding-right: 50px;
  }
  .main1flexcontainer .main1flexitemtext h1 {
    font-size: 250px;
    color: var(--darkest-text-color);
    padding-left: -20px;
    text-align: left;
  }
  .main1flexcontainer .main1flexitemtext p {
    padding-top: 10px;
    padding-left: 20px;
    margin-bottom: 90px;
    font-size: 20px;
  }
  .main1flexcontainer .main1flexitemtext a {
    padding-left: 18px;
    color: var(--secondary-base-color);
  }
  .main1flexcontainer .main1flexitemimage {
    width: 50%;
    margin: 20px;
  }
  .main1flexcontainer .main1flexitemimage img {
    text-align: center;
    max-width: 100%;
    height: 100%;
  }
}
:root {
  --base-color: #ECDFD1;
  --darkest-text-color: #231104;
  --base-text-color: #998474;
  --secondary-base-color: #875532;
}

#carousel {
  width: 100%;
  background-color: var(--base-color);
  margin-inline: auto;
}
#carousel hr {
  max-width: 100px !important;
  margin-bottom: 20px !important;
}

.container h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
  color: var(--darkest-text-color);
  padding-top: 20px;
  text-transform: uppercase;
  font-family: Impact;
  letter-spacing: 2px;
}

.slider {
  margin-top: 20px;
  margin-bottom: 0px;
  position: relative;
}

.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
  color: #fff;
}

.slider-card {
  padding: 0;
  margin: 50px 15px 90px 15px;
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
}
.slider-card h5 {
  color: var(--secondary-base-color);
  text-transform: uppercase;
}

.slider-card img {
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0px;
  border-radius: 5px 5px 0px 0px;
}

.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}

.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}

/*smaller screens*/
@media screen and (max-width: 1000px) {
  .slider-card img {
    width: 60% !important;
  }
}
/*
  .owl-dots {
    text-align: center;
  }
  .owl-dots .owl-dot {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: var(--base-color) !important;
    margin-left: 3px;
    margin-right: 3px;
    outline: none;
  }
  .owl-dots .owl-dot.active {
    background: var(--darkest-text-color) !important;
  }


*/
* {
  border-style: none !important;
}

#about {
  background-color: var(--base-color);
  max-width: 1400px;
  margin-inline: auto;
}
#about .card {
  background-color: rgba(135, 85, 50, 0.6352941176);
}
#about .card hr {
  max-width: 100%;
  height: 2px;
  margin-bottom: 20px !important;
}
#about hr {
  max-width: 100px !important;
  margin-bottom: 20px !important;
}
#about h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
  color: var(--darkest-text-color);
  padding-top: 20px;
  text-transform: uppercase;
  font-family: Impact;
  letter-spacing: 2px;
}
#about h2 {
  margin-top: 5px;
}
#about img {
  padding-top: 10px;
  border-radius: 5px !important;
  max-width: 100%;
}

/*mobile*/
.flexcontainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 5px !important;
}
.flexcontainer .card {
  margin-inline: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-inline: 10px;
  width: 450px;
  max-width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(135, 85, 50, 0.6352941176);
}
.flexcontainer .card img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.flexcontainer .card .textcontainer {
  padding: 10px;
}
.flexcontainer .card .textcontainer h2 {
  text-align: center;
  color: var(--darkest-text-color);
  font-size: 40px;
}
.flexcontainer .card .textcontainer p {
  text-align: justify;
  color: var(--darkest-text-color);
}

/*tablet*/
@media screen and (min-width: 700px) {
  .main3 {
    padding-top: 30px;
  }
  .flexcontainer {
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 100%;
    border-radius: 5px !important;
  }
  .flexcontainer .card {
    margin-inline: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 60%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .flexcontainer .card img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    max-height: 80%;
  }
  .flexcontainer .card p {
    text-align: justify;
    color: var(--base-text-color);
    max-width: 420px;
    margin-inline: auto;
  }
  .flexcontainer .card h2 {
    font-size: 30px !important;
  }
}
/*desktop*/
@media screen and (min-width: 900px) {
  .main3 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .flexcontainer {
    display: flex;
    flex-direction: row;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: transparent;
  }
  .flexcontainer .card {
    margin-inline: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-inline: 10px;
    width: 60%;
    height: 530px;
    height: -moz-fit-content;
    height: fit-content;
    background-color: var(--secondary-base-color);
  }
}
@media screen and (min-width: 1000px) {
  .main3 {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .main3 h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 60px;
  }
}
#more {
  padding-bottom: 40px;
  padding-top: 10px;
  max-width: 1400px;
  margin-inline: auto;
}
#more a {
  color: var(--secondary-base-color);
  margin-bottom: 10px;
  padding-bottom: 10px;
}

/*mobile*/
#more img {
  padding-top: 10px;
}
#more h1, #more h3 {
  text-align: center;
  color: var(--darkest-text-color);
}
#more h1 {
  font-size: 70px;
  margin-top: 20px;
}
#more h3 {
  margin-bottom: 30px;
}
#more h2 {
  font-size: 40px;
  color: var(--darkest-text-color);
  text-align: center;
}

.main4flexcontainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-inline: auto;
}
.main4flexcontainer img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
.main4flexcontainer p {
  color: var(--darkest-text-color);
  text-align: justify;
}

@media screen and (min-width: 900px) {
  .main4flexcontainer {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-inline: 20px;
    margin-inline: auto;
  }
  .main4flexcontainer h2 {
    text-align: left !important;
  }
  .main4flexcontainer img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 50%;
  }
  .main4flexcontainer .main4text {
    width: 50%;
  }
  .main4flexcontainer .main4text p, .main4flexcontainer .main4text h2 {
    color: var(--darkest-text-color);
    padding-right: 10px;
  }
  .main4flexcontainer .main4text h2 {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 10px;
    color: var(--darkest-text-color);
  }
  .main4flexcontainer .main4text p {
    text-align: justify;
    margin-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 0;
  }
}
footer {
  max-width: 1200px;
  margin-inline: auto;
  text-align: center;
  height: auto;
  padding-top: 20px;
}
footer h4 {
  color: var(--base-text-color);
  font-family: Impact;
}

hr {
  display: block;
  max-width: 1100px;
  height: 2px;
  margin: auto !important;
  border: 0;
  border-top: 1px solid var(--base-text-color);
  padding: 0;
}

p {
  color: var(--base-text-color);
}

.footerflexcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-inline: auto;
  justify-content: space-between;
}
.footerflexcontainer .section {
  padding: 20px;
}
.footerflexcontainer .section h5 {
  color: var(--darkest-text-color);
  text-align: left;
}
.footerflexcontainer .section li {
  text-align: left;
}/*# sourceMappingURL=style.css.map */