.footer {
    max-width: 1200px;
    margin-inline: auto;
    text-align: center;
}


hr { 
    overflow: hidden;
     display: block;
     max-width: 1100px;
     height: 2px;
     margin: auto !important;
     border: 0;
     border-top: 1px solid var(--base-text-color);
     padding: 0;
 }

 p {
    color: var(--base-text-color);

 }