
.main1 {
    max-width: 1200px;
    background-color: var(--base-color);
    margin-inline: auto;
} 

/*mobile*/

.main1flexcontainer {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    

.main1flexitemtext {
margin-inline: auto;
text-align: center;
margin-top: 20px;
    margin-bottom: 20px; 

h1 {
    font-size: 150px;
    font-family: Impact;
    letter-spacing: 2px;
    color:var(--darkest-text-color);
    text-align: center;
    
    

}
p {
    font-size: 18px;
    margin-bottom: 15px;
    padding-inline: 10%;
}

 a {
    font-size: 18px;
    margin:0;
    padding:0;
    color:var(--secondary-base-color);
   
}

}

.main1flexitemimage {
text-align: center;
    width: 100%;

img {
     max-width: 340px;
 height: 100%;
 object-fit: contain;
}

}
}


/*tablet*/

@media screen and (min-width:600px) {

    .main1flexcontainer {
    .main1flexitemtext {

        margin-top: 20px;
margin-bottom: 20px;        

    
    h1 {

        font-size: 180px;
        color:var(--darkest-text-color);
        text-align: center;
    }
    
p {
    font-size: 20px;
   padding-left: 20%;
   padding-right: 20%;

}

    }
    
    .main1flexitemimage {
    
    img {
         max-width: 400px;
    }
    

    
    }

    }
}

/*desktop*/

@media screen and (min-width:900px){
    .main1flexcontainer {
        padding-top: 100px;
        padding-bottom: 100px;
        display: flex;
        flex-direction: row;
        margin-inline: auto;
        padding-inline: 10px;
        
    
    .main1flexitemtext {
        margin-top: 50px;
    margin-inline: auto;
    text-align: left;
    width: 50%;

    
    h1 {
        padding-top: 20px;
        font-size: 220px;
        color:var(--darkest-text-color);
        text-align: left;
        padding-left: 20px;
    }
    p {
        padding-left: 20px;
        margin-left:10px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    
    a {
        font-size: 18px;
        padding-left: 20px;
        margin-left:10px;
        margin-top: 30px;
        color:var(--secondary-base-color)
    }
    
    }
    
    .main1flexitemimage {
        width: 50%;
    
    img {
        max-width: 100%;
     height: 100%;
     object-fit: contain;
    }
    
    }
    }

}




/*larger desktop screen*/

@media screen and (min-width:1100px){
    .main1flexcontainer {
        padding-top: 100px;
        padding-bottom: 100px;
        display: flex;
        flex-direction: row;
        margin-inline: auto;
        
    
    .main1flexitemtext {
    
        width:50%;
padding-top: 10px;
    margin-inline: auto;
    text-align: left;
padding-right: 50px;    

    h1 {
        font-size: 250px;
        color:var(--darkest-text-color);
        padding-left: -20px;
        text-align: left;

        
    }
    p {
        padding-top: 10px;
        padding-left: 20px;
        margin-bottom: 90px;
        font-size: 20px;
    }
    
    a {
        padding-left: 18px;
        color:var(--secondary-base-color)
    }
    
    }
    
    .main1flexitemimage {
        width: 50%;
        margin:20px;
    
    img {
        text-align: center;
        max-width: 100%;
     height: 100%;
    }
    
    }
    }

}

