.main4 {
    padding-bottom: 40px;
    padding-top: 10px;
    max-width: 1200px;
    margin-inline: auto;


    a {
        color: var(--secondary-base-color);
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
}



/*mobile*/

.main4 {

    img {
        padding-top: 10px;
    }

h1, h3 {
    text-align: center;
    color: var(--darkest-text-color);
    }


 h1 {
    font-size: 70px;
    margin-top: 20px;
 }    

h3 {
    margin-bottom: 30px;
}

h2 {
    font-size: 40px;
    color: var(--darkest-text-color);
    text-align: center;

}

}

.main4flexcontainer {

    display: flex;
    flex-direction: column;
    width: 80%;
    margin-inline: auto;

img {
    object-fit: contain;
    width: 100%;
}
 p {
    color:var(--darkest-text-color);
 }

}

@media screen and (min-width:900px) {

    .main4flexcontainer {
margin-top: 50px;
margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-inline: 20px;
        margin-inline: auto;

        h2 {
            text-align: left !important;
            }
    
    img {
        object-fit: contain;
        width: 50%;

    }

    .main4text {

        width: 50%;


     p, h2 {
        color:var(--darkest-text-color);
        padding-right: 10px;
     }

     h2 {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 10px;
        color: var(--darkest-text-color);
     }

     p {
        text-align: justify;
        margin-right: 20px;
        padding-bottom: 10px;    
        margin-bottom: 0;

     }

    
    

}
    }
}



